



<section>
  <div class="container" ng-controller="HomeController">

    <div class="article-wrap slide" ng-repeat="article in articles" ng-animate="{enter: 'animate-enter', leave: 'animate-leave'}">

      <div class="article-header">

        <div class="article-thumbnail">
          <img src="{{article.image}}" alt="">
        </div>

        <div class="article-title">
          <h2>{{article.title}}</h2>
        </div>

      </div>

      <div class="article-description">
        {{article.description}}
      </div>

    </div>

  </div>
</section>
