

<section id="top">
  <div class="container">


    <div class="sort-wrap">

      <label for="">Sort By</label>

      <select ng-model="orderBy">
        <option value="date">Date low - high</option>
        <option value="title">Title A - Z</option>
        <option value="-title">Title Z - A</option>
      </select>

    </div>


  </div>
</section>


<section id="main-content">

  <div id="story-list" class="">
    <div class="story-wrap" ng-repeat="story in stories">
      <p>{{story.storyTitle}}</p>
    </div>
  </div>


  <div id="article-list" class="container">

    <div class="article-wrap slide" ng-repeat="article in articlesFiltered = (articles | orderBy:orderBy)" ng-animate="{enter: 'animate-enter', leave: 'animate-leave'}">

      <div class="article-thumbnail" style="background-image: url('{{article.image}}')">
      </div>

      <div class="article-content">

        <div class="article-title">
          <a href="{{article.url}}" target="_blank"><h4>{{article.title}}</h4></a>
        </div>

        <div class="article-date">
          <p>{{article.published}}</p>
        </div>

        <div class="article-source">
          <p>{{article.source}}</p>
        </div>

        <p class="article-description">
          {{article.description}}
        </p>

      </div>

    </div>

  </div>
</section>
